.width-button-search {
  min-width: 7.5rem;
}

.width-button-search-test {
  //min-width: 7.5rem;
  display: flex;
  align-items: stretch;
}
.nb-form-field-addon.nb-form-field-suffix-medium.nb-form-field-addon-basic {
  width: 5.5rem !important;
}

.cus-search-bt {
  background-color: #f7f9fc !important;
  border: 0.5px solid #e4e9f2 !important;
}
